nav {
	background-color: #7952b3;
}

#carousel-news {

	height: 40vh;

}


.card a img {

	height: 200px;

}

a i {

	color: black;

}

* img {
	height: 200px;
}

a i {
	color: black;
}

footer {
	background-color: #7952b3;
	color: white;
}

a:hover {
	color: white;
}


.dropdown-item:hover {
	background-color: #7952b3;
	color: white;
}

.col-mid-4 {
	float:left;
}

div {
	display: block;
}

.img-fluid {
	max-width: 100%;
	height: 100%;
}
